Repository bentobox-dev/bento-box, pull requests merged in 2021-02, with the labels that each got.

#27 Engine GRPC with tests
  infra/docker/sim/Dockerfile
  makefile
  protos/bento/protos/services.proto
  protos/bento/protos/sim.proto
  sim/CMakeLists.txt
  sim/include/index/entityIndex.h
  sim/include/interpreter/graphInterpreter.h
  sim/include/interpreter/util.h
  sim/include/service/engineService.h
  sim/include/simulation.h
  sim/src/index/entityIndex.cpp
  sim/src/interpreter/graphInterpreter.cpp
  sim/src/interpreter/graphInterpreter.test.cpp
  sim/src/interpreter/util.cpp
  sim/src/interpreter/util.test.cpp
  sim/src/service/engineService.cpp
  sim/src/service/engineService.test.cpp
  sim/src/test_simulation.cpp
  sim/test_include/test_simulation.h
Labels: engine, feature

#46 Engine: Execute init graph on apply
  sim/src/service/engineService.cpp
  sim/src/service/engineService.test.cpp
  sim/src/test_simulation.cpp
  sim/test_include/test_simulation.h
Labels: bug, engine

#47 Engine: Set data_type for all protobuf values
  sim/CMakeLists.txt
  sim/include/interpreter/operations.h
  sim/include/userValue.h
  sim/src/component/userComponent.cpp
  sim/src/component/userComponent.test.cpp
  sim/src/interpreter/graphInterpreter.test.cpp
  sim/src/interpreter/operations.cpp
  sim/src/main.cpp
  sim/src/service/engineService.cpp
  sim/src/test_simulation.cpp
  sim/src/userValue.cpp
Labels: bug, engine

#51 Engine: Implicit Type Conversion
  sim/CMakeLists.txt
  sim/include/interpreter/operations.h
  sim/include/proto/userValue.h
  sim/include/proto/valueType.h
  sim/src/component/userComponent.cpp
  sim/src/interpreter/graphInterpreter.test.cpp
  sim/src/interpreter/operations.cpp
  sim/src/proto/userValue.cpp
  sim/src/proto/userValue.test.cpp
  sim/src/proto/valueType.cpp
Labels: engine, feature

#44 chore(e2e): Implement E2E tests for Get/Set Attribute & Stepping Simulations
  .github/workflows/ci.yaml
  e2e/test_e2e.py
  makefile
  sdk/bento/types.py
Labels: qa, sdk

#56 Engine: Allow implicit type conversion for mutateOp, add existence check before retrieving component value
  sim/include/proto/userValue.h
  sim/src/component/userComponent.cpp
  sim/src/component/userComponent.test.cpp
  sim/src/interpreter/operations.cpp
  sim/src/proto/userValue.cpp
  sim/src/proto/userValue.test.cpp
Labels: bug, engine

#58 chore(e2e): Improve E2E coverage by testing more data types
  e2e/test_e2e.py
Labels: qa

#57 feat(sdk): Implement Mountain Car as Example Simulation in the SDK
  e2e/conftest.py
  e2e/test_e2e.py
  e2e/test_mountcar.py
  makefile
  sdk/bento/ecs/__init__.py
  sdk/bento/ecs/base.py
  sdk/bento/ecs/graph.py
  sdk/bento/example/mountcar.py
  sdk/bento/example/specs.py
  sdk/bento/graph/compile.py
  sdk/bento/graph/plotter.py
  sdk/bento/sim.py
  sdk/bento/spec/__init__.py
  sdk/bento/spec/ecs.py
  sdk/bento/spec/graph.py
  sdk/bento/spec/sim.py
  sdk/bento/types.py
  sdk/tests/ecs/test_graph.py
  sdk/tests/ecs/test_grpc.py
  sdk/tests/graph/test_compile.py
  sdk/tests/graph/test_plotter.py
  sdk/tests/test_sim.py
Labels: feature, qa, sdk

#59 CD Pipeline: Automate Publish Bentobox SDK to Pypi and Bentobox Engine Container to GHCR
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  sdk/requirements-dev.txt
  sdk/setup.cfg
Labels: ci/cd, feature

#61 Add Mypy Static Type Checking to SDK & Pull latest bentobox-engine image as build cache
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  infra/kustomize/engine/deployment.yaml
  makefile
  sdk/bento/client.py
  sdk/bento/ecs/base.py
  sdk/bento/ecs/grpc.py
  sdk/bento/graph/analyzers.py
  sdk/bento/graph/ast.py
  sdk/bento/graph/compile.py
  sdk/bento/graph/plotter.py
  sdk/bento/value.py
  sdk/mypy.ini
  sdk/requirements-dev.txt
Labels: ci/cd, housekeeping, sdk

#65 CD: Deploy to DigitalOcean Kubernetes instead of GKE to save costs
  .github/workflows/cd-master.yaml
  .github/workflows/cd-release.yaml
Labels: ci/cd
